*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

form{
    padding-block: 3rem;
    display: grid;
    place-content: center;
}
img{
    width: 9rem;
}
.title{
    display: grid;
    justify-content: center;
    border: solid palegreen;
}
.main-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid rebeccapurple;    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    border-radius: 2rem;
    width: 350px;
    height: auto;
    padding: 1rem;
    background-color: rgb(22, 221, 221);

}